<h1>Trimesters#show</h1>
<p><strong>Term:</strong> <%= @trimester.term %></p>
<p><strong>Year:</strong> <%= @trimester.year %></p>
<p><strong>Start Date:</strong> <%= @trimester.start_date %></p>
<p><strong>End Date:</strong> <%= @trimester.end_date %></p>
<%= link_to "Back to all trimesters", trimesters_path %>

